body{
background-color:  #8E7618;	
font-family: Arial, sans-serif;
}

#main-navbar {
background-color: blue;
overflow: hidden;
}

#navbar-container {
float: left;
width: 100%;
position: relative;
}

#main-navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
position: relative;
left: 50%;
float: left;
}

#main-navbar ul li {
float: left;
position: relative;
right: 50%;
display: block;
}

#main-navbar ul li a {
display: block;
padding: 10px 20px;
color: #fff;
text-decoration: none;
}

#main-navbar ul li a:hover {
color: black;
background-color: skyblue;
border-radius: 50px;
text-transform: uppercase;
}

#onpage {
text-decoration: underline overline;
}

#btc{
text-align: center;
background-color: green;
color: white;
}

.box{
height: 100px;
background-color: skyblue;
padding: 20px;
}

.box li{
padding: 5px;
list-style-type: none;	
}

.para{
background-color: gray;	
color: white;
}


#btc2 {
  width: 180px;
  height: 90px;
  border-radius: 10px;
  padding: 7px;
  transition: transform 0.4s ease;
  display: block;
  margin: auto;
}
#btc2:hover{
  transform: scale(1.3);
  cursor: pointer;
}